Source: sidux-hermes
Section: admin
Priority: extra
Maintainer: Fabian Wuertz <xadras@sidux.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>, Ferdinand Thommes <devil@sidux.com>
Build-Depends: cdbs,
               debhelper (>= 7),
               automake1.9,
               libqt4-dev,
               qt4-qmake,
               imagemagick
Standards-Version: 3.8.0


Package: sidux-hermes
Architecture: all
Depends: ${misc:Depends},
         wget
Description: sidux-hermes
 sidux dist-upgrade alerter

Package: sidux-hermes-gtk2
Architecture: all
Depends: ${misc:Depends},
         sidux-hermes (= ${source:Version}),
         python,
         python-gtk2
Conflicts: siduxcc-gtk2 (<= 0.12.12)
Description: sidux-hermes-gtk2
 sidux dist-upgrade alerter

Package: sidux-hermes-qt4
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         sidux-hermes (= ${source:Version})
Description: sidux-hermes-qt4
 sidux dist-upgrade alerter
