Source: sidux-hermes
Section: admin
Priority: extra
Maintainer: Fabian Wuertz <xadras@sidux.com>
Uploaders: Joaquim Boura <x-un-i@sidux.com>,
           Stefan Lippers-Hollmann <s.l-h@gmx.de>,
           Ferdinand Thommes <devil@sidux.com>
Build-Depends: cdbs,
               debhelper (>= 7),
               automake1.9,
               libqt4-dev,
               qt4-qmake,
               imagemagick
Standards-Version: 3.8.1

Package: sidux-hermes
Architecture: all
Depends: ${misc:Depends},
         wget,
         apt-show-versions
Description: sidux upgrade sentinel for the cli
 Console program that shows the status of the Debian sid repository.
 .
 It gets the warnings from sidux.com.


Package: sidux-hermes-common
Architecture: all
Depends: ${misc:Depends},
Description: sidux upgrade sentinel
 This package contains the architecture-independent files for sidux-hermes.

Package: sidux-hermes-gtk2
Architecture: all
Depends: ${misc:Depends},
         sidux-hermes (= ${source:Version}),
         sidux-hermes-common (= ${source:Version}),
         python,
         python-gtk2
Conflicts: siduxcc-gtk2 (<= 0.12.12)
Description: sidux upgrade sentinel for gtk2
 Gtk2 systray applet that shows the status of the Debian sid repository.
 .
 It gets the warnings from sidux.com.

Package: sidux-hermes-qt4
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         sidux-hermes-common (= ${source:Version}),
         sidux-apt-qt4
Description: sidux upgrade sentinel for qt4
 Qt4 systray applet that shows the status of the Debian sid repository.
 .
 It gets the warnings from sidux.com.
